/* MAIN CONTAINER */

.home-container {
  padding-top: 0px;
  background: #070707;
  color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  z-index: 1100;
}

/* HERO CAROUSEL (ensure visible and full) */
#heroCarousel {
  position: relative;
  z-index: 1;
}


.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(3px);
}

.hero-content {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #c59b32;
  text-shadow: 0 4px 10px rgba(0,0,0,0.8);
}

.hero-content p {
  margin-top: 10px;
  font-size: 1.3rem;
  opacity: 0.8;
}

/* CAROUSEL */
.hero-img {
  height: 85vh;
  object-fit: cover;
  filter: brightness(60%);
}

.carousel-caption {
  bottom: 0;
  transition: 0.3s ease-in-out;
  width: 100%;
  left: 0;
  padding: 30px 0;
}

.carousel-item:hover .carousel-caption {
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: none;
}
.carousel-caption h2 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  font-weight: 700;
  color: orange;
  text-shadow: 0 0 18px rgba(0,0,0,0.85);
}

.carousel-caption p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #f0f0f0;
  text-shadow: 0 0 12px rgba(0,0,0,0.9);
  opacity: 1;
}


/* ABOUT SECTION */


/* EXPLORE SECTION */
.explore-section {
  padding: 80px 10%;
}

.explore-section h2 {
  font-family: "Cinzel", serif;
  font-size: 2.8rem;
  color: #e6c27a;
  text-shadow: 0 0 12px rgba(0,0,0,0.7);
  text-align: center;
}


/* IMAGE GRID */
.explore-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.explore-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.explore-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: 0.4s;
  filter: brightness(70%);
}

.explore-card:hover img {
  transform: scale(1.1);
  filter: brightness(45%);
}

.explore-overlay {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 1.2rem;
  color: #c59b32;
  text-shadow: 0 3px 6px black;
  opacity: 0;
  transition: 0.3s;
}

.explore-card:hover .explore-overlay {
  opacity: 1;
}

/* FOOTER */
.footer {
  padding: 20px;
  text-align: center;
  background: #000;
  color: #888;
  margin-top: 70px;
  font-size: 0.9rem;
}
